h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clients-menu__link, .quality-menu__icon, .contacts__link, .nav, .social__link, .btn-page {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-page {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-style: none;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-page:hover, .btn-page:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 94px 15px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%), scale(0.1);
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    height: auto;
    max-height: 100%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__button {
  z-index: 4;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover .modal__icon, .modal__button:focus .modal__icon {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
  text-align: center;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__logo--black {
  color: #000000;
  font-family: "Roboto", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover .header__logo--black, .header__logo:focus .header__logo--black {
  color: #2196f3;
}

.btn-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  z-index: 3;
  display: inline-flex;
  border-style: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu:hover .btn-menu__icons {
  fill: #2196f3;
}

.btn-menu__icon-close {
  display: none;
}

.btn-menu.is-open .btn-menu__icon-close {
  display: block;
}

.btn-menu.is-open .btn-menu__icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 48px 40px;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__site {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .nav__site {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu-container.is-open .nav__item {
    transform: translateX(-100%);
    -webkit-animation: slideRight 250ms forwards;
            animation: slideRight 250ms forwards;
    -webkit-animation-delay: 350ms;
            animation-delay: 350ms;
  }
  .menu-container.is-open .nav__item:nth-child(2) {
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms;
  }
  .menu-container.is-open .nav__item:last-child {
    -webkit-animation-delay: 550ms;
            animation-delay: 550ms;
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__item--active {
    position: relative;
  }
  .nav__item--active::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: inherit;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 372px) and (max-width: 767px) {
  .contacts__item:first-child .contacts__link {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
  }
}

.social-network {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .social-network {
    display: none;
  }
}

.social-network__list {
  position: relative;
}
.social-network__list:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 366px) {
  .social-network__list:not(:last-child):after {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.social-network__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network__link:hover, .social-network__link:focus {
  color: #757575;
}

.hero {
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-480@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-768.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-768@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-1600.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg/hero-bg-1600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero .btn-page {
  padding: 10px 32px;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .quality-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .quality-menu__item {
    width: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-menu__item {
    width: calc((100% / 4) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .quality-menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.quality-menu__icon {
  margin-bottom: 30px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.quality-menu__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .quality-menu__title {
    text-align: center;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-menu__item {
  width: calc((100% / 3) - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.work-menu__overlay {
  position: relative;
}

.work-menu__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .teammates {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.teammates__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .teammates__item {
    width: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .teammates__item {
    width: calc((100% / 4) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .teammates__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.teammates__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.teammates__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.teammates__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.clients-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-menu__item {
  width: calc((100% / 2) - 30px);
  margin-top: 30px;
  margin-left: 30px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-menu__item {
    width: calc((100% / 3) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-menu__item {
    width: calc((100% / 6) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.clients-menu__link {
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-menu__link:hover, .clients-menu__link:focus {
  border-color: #2196f3;
}

.clients-menu__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-menu__link:hover .clients-menu__icon, .clients-menu__link:focus .clients-menu__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:first-child {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:last-child {
    margin-left: auto;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__logo:hover, .footer__logo:focus {
  color: #ffffff;
}

.footer__logo--white {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.address__text {
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
}

.address__contacts {
  flex-direction: column;
}

.address__contacts > .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: #2196f3;
}

.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    display: flex;
  }
}

.mailing-form__input {
  width: 90%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-form__input:hover, .mailing-form__input:focus {
  outline: none;
  border-color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .mailing-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .mailing-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.mailing-form__btn {
  padding: 10px 28px;
}

.mailing-form__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-form__btn:hover .mailing-form__icon, .mailing-form__btn:focus .mailing-form__icon {
  fill: #2196f3;
}

.portfolio__filter {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--active {
  color: #ffffff;
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% / 3) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.projects__meta {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.projects__overlay {
  position: relative;
  overflow: hidden;
}

.projects__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover .projects__overlay-text, .projects__link:focus .projects__overlay-text {
  transform: translateY(0);
}
@media screen and (max-width: 479px) {
  .projects__overlay-text {
    font-size: 12px;
    line-height: 1.75;
  }
}
@media screen and (min-width: 786px) {
  .projects__overlay-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__overlay-text {
    padding: 63px 24px;
  }
}

.modal-form__group {
  margin-bottom: 10px;
}

.modal-form__group:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.modal-form__group:last-of-type {
  margin-bottom: 30px;
}

.modal-group__field {
  margin-bottom: 10px;
}

.modal-group__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-group__overlay {
  position: relative;
  display: block;
}

.modal-group__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-group__input:not(:-moz-placeholder-shown) {
  border-color: #2196f3;
  outline: none;
}
.modal-group__input:not(:-ms-input-placeholder) {
  border-color: #2196f3;
  outline: none;
}
.modal-group__input:focus, .modal-group__input:hover, .modal-group__input:not(:placeholder-shown) {
  border-color: #2196f3;
  outline: none;
}

.modal-group__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-group__input:not(:-moz-placeholder-shown) + .modal-group__icon {
  fill: #2196f3;
}
.modal-group__input:not(:-ms-input-placeholder) + .modal-group__icon {
  fill: #2196f3;
}
.modal-group__input:focus + .modal-group__icon, .modal-group__input:hover + .modal-group__icon, .modal-group__input:not(:placeholder-shown) + .modal-group__icon {
  fill: #2196f3;
}

.modal-group__input--comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__check {
  width: 16px;
  height: 15px;
  display: flex;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__checkbox:focus ~ .agreement__check {
  border-color: #2196f3;
}
.agreement__field:hover .agreement__check {
  border-color: #2196f3;
}
.agreement__checkbox:checked ~ .agreement__check {
  border-color: #2196f3;
  background-color: #2196f3;
}

.agreement__icon {
  fill: transparent;
}
.agreement__checkbox:checked ~ .agreement__check .agreement__icon {
  fill: #ffffff;
}

.agreement__field {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .agreement__field {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    margin-right: 5px;
  }
}

.agreement__link {
  position: relative;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__link:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 1%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}
.agreement__link:hover, .agreement__link:focus {
  color: #757575;
}

.modal-form__btn {
  padding: 10px 55px;
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */