.header {
  position: relative;
  border-bottom: 1px solid $primary-border-color;
}
// .header__container {
//   position: relative;
// }
.nav {
  @extend %align;
}
.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.header__logo--black {
  color: $black-color;
  font-family: 'Roboto', sans-serif;

  transition: color $transition-duration $transition-timing-function;
  .header__logo:hover &,
  .header__logo:focus & {
    color: $accent-color;
  }
}
.btn-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  z-index: 3;
  display: inline-flex;
  border-style: none;
  padding: 0;
  cursor: pointer;

  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-menu__icons {
  .btn-menu:hover & {
    fill: $accent-color;
  }
}
.btn-menu__icon-close {
  display: none;
}
.btn-menu.is-open .btn-menu__icon-close {
  display: block;
}
.btn-menu.is-open .btn-menu__icon-menu {
  display: none;
}
.menu-container {
  @media screen and (max-width: 767px) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 48px 40px;
    z-index: 2;
    background-color: #fff;
    transform: translateY(-100%);

    transition: opacity $transition-duration $transition-timing-function,
      transform $transition-duration $transition-timing-function;

    &.is-open {
      visibility: visible;
      opacity: 1;
      pointer-events: visible;
      transform: translateY(0);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.nav__site {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    .menu-container.is-open & {
      transform: translateX(-100%);
      animation: slideRight 250ms forwards;
      animation-delay: 350ms;
      &:nth-child(2) {
        animation-delay: 450ms;
      }
      &:last-child {
        animation-delay: 550ms;
      }
    }
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  &:not(last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.nav__link--active {
  color: $accent-color;
}
.nav__item--active {
  @media screen and (min-width: 768px) {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}
.contacts__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  @extend %align;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: inherit;
  fill: currentColor;

  transition: color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  .contacts__item:first-child & {
    @media screen and (max-width: 767px) {
      font-size: 34px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__icon {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 10px;
  }
}
.social-network {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.social-network__list {
  position: relative;
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:not(:last-child):after {
    position: absolute;
    top: 0;
    right: -10px;
    content: '';
    display: block;
    width: 1px;
    height: 22px;
    background-color: $modal-input-border-color;
  }
}
.social-network__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
  color: $accent-color;
  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}
