.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, $hero-bg-overlay, $hero-bg-overlay),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $hero-bg-color;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  & .btn-page {
    @include btn-padding(10px, 32px);
  }
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}
