.modal-form__group {
  margin-bottom: 10px;
}
.modal-form__group:nth-last-of-type(2) {
  margin-bottom: 20px;
}
.modal-form__group:last-of-type {
  margin-bottom: 30px;
}

.modal-group__field {
  margin-bottom: 10px;
}

.modal-group__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-group__overlay {
  position: relative;
  display: block;
}

.modal-group__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid $modal-input-border-color;

  border-radius: 4px;

  transition: border $transition-duration $transition-timing-function;

  &:focus,
  &:hover,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    outline: none;
  }
}

.modal-group__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill $transition-duration $transition-timing-function;

  .modal-group__input:focus + &,
  .modal-group__input:hover + &,
  .modal-group__input:not(:placeholder-shown) + & {
    fill: $accent-color;
  }
}

.modal-group__input--comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreement__check {
  width: 16px;
  height: 15px;
  display: flex;
  margin-right: 5px;
  border: 2px solid $secondary-text-color;

  border-radius: 2px;

  transition: border $transition-duration $transition-timing-function;

  .agreement__checkbox:focus ~ & {
    border-color: $accent-color;
  }
  .agreement__field:hover & {
    border-color: $accent-color;
  }
  .agreement__checkbox:checked ~ & {
    border-color: $accent-color;
    background-color: $accent-color;
  }
}

.agreement__icon {
  fill: transparent;

  .agreement__checkbox:checked ~ .agreement__check & {
    fill: $white-color;
  }
}

.agreement__field {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}
.agreement__text {
  @media screen and (min-width: 1200px) {
    margin-right: 5px;
  }
}

.agreement__link {
  position: relative;
  text-decoration-line: none;
  color: $accent-color;

  transition: color $transition-duration $transition-timing-function;

  &:after {
    position: absolute;
    content: '';
    display: block;
    bottom: 1%;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.modal-form__btn {
  @include btn-padding(10px, 55px);

  background-color: $modal-btn-send-color;
}
