.quality-menu {
  @media screen and (min-width: 768px) {
    @include flex-box;
  }
}
.quality-menu__item {
  @media screen and (min-width: 768px) {
    @include flex-item;
  }
  @media screen and (min-width: 1200px) {
    @include flex-item(4);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.quality-menu__icon {
  @extend %align;
  margin-bottom: 30px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $secondary-bg-color;
  border-radius: 4px;
}
.quality-menu__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
