.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $backdrop-bg-color;
  opacity: 1;

  transition: opacity $transition-duration $transition-timing-function,
    visibility $transition-duration $transition-timing-function;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
