@mixin btn-padding($horizontal, $vertical) {
  padding: $horizontal $vertical;
}
@mixin flex-box() {
  display: flex;
  flex-wrap: wrap;
  margin-top: $flex-margin-top * -1;
  margin-left: $flex-margin-left * -1;
}
@mixin flex-item($flex-item-num: 4) {
  width: calc((100% / #{$flex-item-num}) - #{$flex-margin-left});
  margin-top: $flex-margin-top;
  margin-left: $flex-margin-left;
}
