$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$white-color: #ffffff;
$white-transparent-color: rgba(255, 255, 255, 0.6);
$black-color: #000000;
$primary-border-color: #ececec;
$secondary-border-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$hero-bg-overlay: rgba(47, 48, 58, 0.4);
$work-bg-overlay: rgba(47, 48, 58, 0.8);
$icon-color: #afb1b8;
$icon-join-bg-color: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-btn-border-color: rgba(0, 0, 0, 0.1);
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$mailing-border-color: rgba(255, 255, 255, 0.3);
$portfolio-bg-overlay: rgba(33, 150, 243, 0.9);
$modal-btn-send-color: #188ce8;

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$padding-top: 94px;
$padding-bottom: 94px;

$flex-margin-top: 30px;
$flex-margin-left: 30px;
